<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bree+Serif&family=Lilita+One&family=Patua+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lilita+One&family=Patua+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div id="blur">
      <div class="header">
        <i class="fa fa-bullseye" style="font-size: 48px; color: #edeae8"></i>
        <div class="search">
          <form method="POST" action="/searchpost">
          <button class="icon"><i class="fa fa-search"></i></button>
          <input type="search" class="bar" placeholder="Search your posts" name="post"/>
        </form>
        </div>
        <div class="box">
          <svg class="help" width="5vh" height="5vh" viewBox="-1.2 -1.2 26.40 26.40" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#edeae8"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 17H12.01M12 14C12.8906 12.0938 15 12.2344 15 10C15 8.5 14 7 12 7C10.4521 7 9.50325 7.89844 9.15332 9M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#edeae8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
          <svg class="account" fill="#edeae8" width="5vh" height="5vh" viewBox="0 0 128 128" id="Layer_1" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M30,49c0,18.7,15.3,34,34,34s34-15.3,34-34S82.7,15,64,15S30,30.3,30,49z M90,49c0,14.3-11.7,26-26,26S38,63.3,38,49 s11.7-26,26-26S90,34.7,90,49z"></path> <path d="M24.4,119.4C35,108.8,49,103,64,103s29,5.8,39.6,16.4l5.7-5.7C97.2,101.7,81.1,95,64,95s-33.2,6.7-45.3,18.7L24.4,119.4z"></path> </g> </g></svg>        </div>
      </div>
      <div class="container">
        <nav class="side-nav">
          <div class="item1">
            <div class="select">
              <h2 id="blogtitle">
                <%
                if(blog.length!=0 && cnt==0){
                index=blog.length-1;
                }
                if(blog[index]!==undefined){%>
                <%= blog[index].name%><%}%>
                </h2>
              <i class="fa fa-angle-down" id="angle"></i>
            </div>
            <div class="options">
              <% for(var i=blog.length-1;i>=0;i--){%>
              <div class="option" id="<%=i%>">
                <p><%= blog[i].name%></p>
                <form method="post" action="/deleteblog">
                  <button value="<%=i%>" name="value" class="dustbin">
                    <i class="material-icons" style="font-size: 2.3vh"
                      >delete</i
                    >
                  </button>
                </form>
              </div>

              <%}%>

              <button id="blog">New Blog</button>
            </div>
            <form method="GET" action="/newpost">
              <button class="post">
                <svg width="5vh" height="5vh" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#282828"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12H20M12 4V20" stroke="#D3D3D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                </button>
            </form>
            <hr />
          </div>
          <div class="item2 text">
            <button>Posts</button>
            <button>Comments</button>
            <button>Pages</button>
            <button>Settings</button>
            <button>View Blog</button>
          </div>
        </nav>
        <div class="main">
        <% if(blog.length!=0){
        
        if(blog[index] && blog[index].post && blog[index].post.length!=0){
          for(var i=blog[index].post.length-1;i>=0;i--)
          {%>
                <div class="postbox" blog-index="<%=index%>" id="<%=i%>">
                  <div class="up">
                  <h2><%=blog[index].post[i].title%></h2>
                  <div class="icons">
                  <svg class="del" fill="#edeae8" width="3vh" height="3vh" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="#edeae8"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M5.755,20.283,4,8H20L18.245,20.283A2,2,0,0,1,16.265,22H7.735A2,2,0,0,1,5.755,20.283ZM21,4H16V3a1,1,0,0,0-1-1H9A1,1,0,0,0,8,3V4H3A1,1,0,0,0,3,6H21a1,1,0,0,0,0-2Z"></path></g></svg>
                </div>
                  </div>
                  <hr>
                  
                </div>
                <%}}}%>
        </div>
      </div>
    </div>

    <div class="popup">
      <div class="heading">
        <h1>Choose a name for your blog</h1>

        <form method="POST" action="/newblog">
          <input
            type="text"
            id="blogname"
            name="blogname"
            placeholder="Title"
          />

          <button class="bg create">Create</button>
        </form>
        <button class="bg cancel">Cancel</button>
      </div>
    </div>
    <script>
      var blog = <%- JSON.stringify(blog) %>;
      var index="<%=index%>";
    </script>
    <script src="/home.js"></script>
  </body>
</html>
