<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="/styles/post.css">
</head>
<body>
    <div class="container">
        <form id="posts" action="/createpost" method="post">
        <div class="heading">
            <textarea placeholder="enter post title" name="title" rows="1" value="title" class="title"><%if(locals.title){%><%=title%><%}%></textarea>
        </div>
        <hr>
        <div class="body" >
            <textarea placeholder="enter your content"  name="content" class="content"><%if(locals.content){%><%=content%><%}%></textarea>
        </div>
        <div class="buttons">
            <button class="bg save">Save</button>
        <button class="bg create"> Create </button>
        
    </div>
    </form>
    </div>
    <script>
        var title="<%=title%>"
        console.log(title);
        var content="<%=content%>"
        var pindex="<%=pindex%>"
        var bindex="<%=bindex%>"
        </script>
    <script src="post.js">
       
    </script>
</body>
</html>